*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


h2{
    color: rgb(65, 19, 107);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}




.container{
    height: 100vh;
    width: 80%;
    
    margin: auto;
}
header {
    height: 90px;
    position: fixed;
    width: 100%; 
    box-shadow:0 5px 5px rgb(63, 63, 63);
    background-color: rgb(245, 248, 250);
    z-index: 1;
   
}
header nav {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
   
}

header nav .navs{
    display: flex;
    justify-content: space-between;
    
}
.container1 nav #bar{
    display: none;
    font-size: 25px;
  
}


header nav .navs .btn{
    font-weight: bold;
    font-size: 20px;
    border:  2px solid rgb(233, 148, 11);
    border-radius: 30px;
    height: 45px;
    width: 130px;
    text-align: center;
    

}
header nav .navs .btn i{
    color: rgb(233, 148, 11);
}
header nav .navs a{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;


}
header nav .navs a:hover{
    color:  rgb(233, 148, 11);
}



header nav .logo img{
    width: 50px;
    height: 50px;
    cursor: pointer;
   



}
/* global */
#main-secton{
    width: 100%;
    margin: auto;
   
    

    
}
#main-secton .container{
    width: 70%;
    display: flex;
    justify-content: space-around;
 
  

}

#main-secton .container .row{
  
    z-index: 0;
}



#main-secton .container  .mini-imgs{

    width: 100%;
   
    
    
   
   

}
.main-secton .container .row{
    display: flex;
    justify-content: space-between;
    padding-top: 250px;
    margin: auto;
    background-attachment: fixed;
    flex-wrap: wrap;
    width: 100%;
   
}

.main-secton .container .main-text h1{
    color:  rgb(18, 17, 17);
    font-size: 50px;
 
}

.main-secton .container .main-text p{
    color: rgb(132, 138, 138);
    font-size: 22px;
}


.main-secton .container .main-text #get-star-btn button{
    color: white;
    font-size: 15px;

    
}
.main-secton .container .main-img img{
    width: 700px;
    height: 600px;
   
    
}

#main-secton .mini-imgs img{
    filter: grayscale(100);
    cursor: pointer;
    width: 150px;
    height: 150px;
   margin: 30px;
   border: 1px ;




   
}
/* mini and main section  and football image */



#main-secton .mini-imgs img:hover{
    transform: scale(1.1);
    filter: none;
    transition: all 0.5s;
}
#main-secton .mini-imgs{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(246, 243, 243);
    flex-wrap: wrap;
    border: 1px none;
  
    
   
}


/* section */
#section2{
    width: 100%;
    height: 140vh;
   
}
#section2 h2{
    text-align: center;
    margin: 20px;
    padding-top: 60px;
   

   
}
#section2 h3{
    color: rgb(65, 19, 107);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
   
   
    
}
#section2 .use-container{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}
#section2 .container{
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    height: 500px;


    
}
#section2 #buo{
    background-color: white;
    color: rgb(233, 148, 11);
    border: 2px solid rgb(233, 148, 11);
    border-radius: 5px;
    cursor: pointer;

}


#section2 #buo:hover{
    color: white;
    background-color: rgb(233, 148, 11);
    transition: all 0.6s;
    
}
#section2 #buo i{
    font-size: 15px;
    padding: 5px;
}


#section2 .container .use-text button:hover{
    background-color:  rgb(233, 148, 11);
    color: white;
}
#section2 .container .use-text{
    padding-left: 25px;
}
#section3{
    height: 100vh;
}
#section3 h1{
    text-align: center;
    color: red;
    font-size: 40px;
    
}


/* cards */
.cards{
    background-color:   rgb(246, 243, 243);
    height: 120vh;
    text-align: center;
    padding-top: 100px;
   
      
    
}
.cards .container .row .card-content {
    cursor: pointer;

    
    
}
.cards .container .row .card-content:hover{
    transform: translateY(-10px);
    transition: all 0.6s;
}




.cards .container .row{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    
    
   
    
    

}



.cards .container .card-content{
    width: calc(80% / 3);
   
    
}

#cards .card-content .card-pic img{
    width: 400px;
    height: 300px; 
    border-radius: 15px;
    margin-bottom: 20px;
   
   
  
   
   
   
   
    
}


/* section 4 */
#section4{
    background-color:  rgb(246, 243, 243);
}
#section4 h2{
    padding-top: 50px;
   
}
#section4 p{
    text-align: center;
   
   
}
#section4 .container{
    justify-content: center;
    margin: auto;
    height: 70vh;
    width: 80%;
   
   
}
#section4 .container .brand-text{
    font-size: 20px;
   
}

#section4 .container #brn-img img{
    width: 300px;
    height: 300px;
}



#section4 .container .brand-img {
    display: flex;
    justify-content: center; /* لمركزية الصورة أفقياً */
    height: 50vh;  
    
  
}


/* section 5*/
#section5{
    text-align: center;
}
#section5 h2{
    padding-top: 30px;
}
#section5 h3{
    color: rgb(65, 19, 107);
    font-size:50px;
    font-weight:bold;
}
#section5 .container{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    margin: auto;
    height: 70vh;
   
    

}

#section5 .container .contact-img img{
    width: 500px;
    height: 400px;
}
/*section 5 */
.contact .contact-form .form-content{
    width: 550px;
    height: 490px;
    border-bottom: 3px solid rgb(236, 138, 17);
    border-top: 3px solid rgb(236, 138, 17);
    box-shadow:0 5px 5px rgb(63, 63, 63);
    
}
.contact .contact-form .form-content form{
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
   
    
}
.social i{
    font-size: 30px;
    color:rgb(236, 138, 17);
    cursor: pointer;
    padding-top: 20px;
    margin: 5px;
   
}
label {
    
    float: left;
    padding-bottom: 20px;
}
form .input {
    display: flex;
    justify-content: space-between;
    
    

   
    
}
button{
    background-color: rgb(236, 138, 17);
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: none;
    color: aliceblue;
    font-weight: bold;
 
}

.contact .contact-form .form-content input{
    
    height: 40px;
    width: 240px;
    
    
}
.contact .contact-form .form-content input label .la label{
    color: red;
}
.contact .contact-form .form-content textarea{
    width: 500px;
    height: 200px;
    
   
    
}
#section5 .social-cont{
    width: 80%;
    margin: auto;
}
#section5 .social-cont .social{
    text-align: left;
    padding-bottom: 50px;
   
}
.main-text button{
    width: 150px;
    cursor: pointer;
}
.main-text button:hover{
    background-color: black;
}


/* footer */
footer{
    background-color: rgb(55, 81, 126);
    height: 25vh;
    color: white;
}
footer .footer-content {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    
}
#f-link span a{
    color: rgb(233, 148, 11);
    text-decoration: none;
    font-weight: bold;
    
}
#f-link span:hover{
    cursor: pointer;
    text-decoration: underline;
}









/* ------------ media quires -----------*/
@media (max-width:1800){
    #main-secton .container {
        height: 160vh;
    }
    #cards{
        height: 150vh;
    }

}
@media (max-width: 1600px){
    #main-secton .container {
        height: 160vh;
    }
    #cards{
        height: 150vh;
    }

}
@media (max-width: 1400px){
    #main-secton .container {
        height: 160vh;
    }
    #cards{
        height: 150vh;
    }

}

@media (max-width: 1280px){
    .container{
        height: 110vh; 
        width: 80%; 
    }
    .main-secton .container .main-img img{
        width: 300px;
        height: 350px;
     
        
    }
    /* cards */
    #cards{
        height: 150vh;
    }
    
#cards .card-content .card-pic img{
    width: 300px;
    height: 280px;
    

   
   

}
.cards .container .row{
    width: 100%;
  

}
#section4 .brand-img img{
    
    width: 350px;
    height: 320px;
    padding: 30px;
    
  
}


}

@media (max-width: 1080px){
    
    .title{
        font-size: 35px;
    }  

    #section2 h3{
    font-size: 35px;
}
    .title2{
        font-size: 35px;
    }
    #section5 h3{
        font-size: 35px;
    }
    .container{ 
        width: 80%; 
    }
    .main-secton .container .main-img img{
        width: 300px;
        height: 350px;
     
        
    }
    .main-secton .container  .row .main-text h1{
        font-size: 35px;
    }
    .main-secton .container  .row .main-text p{
        font-size: 17px;
    }
    .container nav .navs a{
        font-size: 18px;
    }
  


    #main-secton .mini-imgs img{
        width: 100px;
        height: 100px;
       margin: 30px;
    
       
        
    }
    #cards .card-content .card-pic img{
        width: 250px;
        height: 250px; 
      
      
    }
    #use img{
        width: 450px;
        height: 300px;
    }
    #section5 .container .contact-img img{
        width: 450px;
        height: 400px;
    }
    /*section 5 */
    .contact .contact-form .form-content{
        width: 450px;
        height: 400px;
       
    }
    .contact .contact-form .form-content input{
    
        height: 35px;
        width: 190px;
    }
        
    .contact .contact-form .form-content textarea{
        width: 400px;
        height: 150px;    
    }


}





/*________________________________ media 900px _________________ */
    @media (max-width: 900px){
        .container1 nav .navs a{
            display: none;
        }
        .container1 .logo a{
            display: none;
        }
        .container1 nav #bar {
            display: block;
           
            
        }
    
        .title{
        font-size: 35px;
        }  
    
        #section2 h3{
        font-size: 35px;
        }
        .title2{
            font-size: 35px;
        }

        #section5 h3{
            font-size: 35px;
        }
        /*________________ mini section man city__________ */
        .container{ 
            width: 80%; 
        }
        .main-secton .container .main-img img{
    
            width: 300px;
            height: 350px;
           
         
            
        }
        .main-secton .container  .row .main-text h1{
            font-size: 35px;
        }
        .main-secton .container  .row .main-text p{
            font-size: 17px;
        }
       
         
        #main-secton .mini-imgs img{
            width: 100px;
            height: 100px;
             margin: 30px;
        
           
            
        }
        /* categories */
        #cards .card-content .card-pic img{
            width: 200px;
            height: 200px; 
          
          
        }
        #use img{
            width: 350px;
            height: 250px;
        }

        #section2 #buo{
           width: 100px;
           height: 50px;
           
           
        
        }
      /*___________________________ brand section ____________ */
      #section4 .container #brn-img img {
        width: 280px;
        height: 280px;
    }

        #section5 .container .contact-img img{
            width: 350px;
            height: 300px;
        }
        /*section 5 */
        .contact .contact-form .form-content{
            width: 360px;
            height: 300px;
            
           
        }
        .contact .contact-form .form-content input{
        
            height: 28px;
            width: 146px;
        }
            
        .contact .contact-form .form-content textarea{
            width: 305px;
            height: 70px;    
        }
        /* Brands */
        /* #section4 .container .brand-img img{
    
            width: 250px;
            height: 250px;
            background-color: rgb(33, 29, 29);
        
        } */

        #section4{
        
            width: 100%;
            justify-content: space-between;
            margin: auto;
          
        }

      


        /* section 5 */ 
        #section5 .contact-text{
            width: 80%;
            margin: auto;
        }
        #section5 .contact-text p{
            margin: auto;
        }
        .footer-content p{ 
            font-size: 12px;
        }
        .footer-content h3{
            font-size: 20px;
        }
        #bb{
            width: 130px;
            height: 50px;   
        }
        
        #main-secton .mini-imgs .row{
            width: calc(60% / 1);
        }

        .use-container{
            width: 90%;
            margin: auto;
        }
    }



    
/* @media (max-width: 800px){            
    #section4 .container{
         width: 90%;
         justify-content: center;
         display: flex;
         flex-wrap: wrap;
        
      
    }
    #section4 .container .brand-img {
      
        width: 250px;
        height: 280px;
      

        
    }


} */

/*-------------------------------- 800 ------------------------------------ */
        @media (max-width: 840px){
          

           
           

            .main-secton .container .main-img img{
                width: 250px;
                height: 250px;
                
             
                
            }
           
            #main-secton .container .row h1{
               font-size: 30px;
            }
            #main-secton .container .row p{
                font-size: 15px;
            }


           
            #main-secton .mini-imgs .row{
                width: calc(70% / 1);
             
            }
            /*___________________________ CATEGORIES AND CARDS ______________ */
            #cards{
                box-sizing: border-box;
                height: 220vh;
            }
            #cards .container .row .card-content img{
                width: 280px;
                height: 270px;
               
            }
            #cards .container .row .card-content{
                width: calc(90% / 2);
                
            }

            #section2 {
                justify-content: space-around;
                width: 90%;
                margin: auto;
          
                
            }
            /* ______________________ Brands _________________________ */
            #section4{
                height: 120vh;
                
            }
          

            #section4 .container .brand-img {
                display: flex;
                flex-wrap: wrap;
            }
           
            #section4 .container .brand-img img{
                width: 220px;
                height: 300px;
                margin: auto;
              
              
               
                
                
               
                
            }
            #section5{
                height: 160vh;
            }
            #section5 .container{
                height: 70%;
                display: flexs;
                flex-wrap: wrap;
            }

            /* contact */
            .contact .contact-form .form-content{
                width: 460px;
                height: 380px;
                
               
            }
            #section5 .container .contact-img img{
                width: 450px;
                height: 380px;
            }
            .contact .contact-form .form-content input{
            
                height: 30px;
                width: 190px;
            }
                
            .contact .contact-form .form-content textarea{
                width: 400px;
                height: 70px;    
            }

            #section5 .social-cont .social{
                text-align: left;
               
               
               
            }


        }
      





        @media (max-width: 750px){
             /*___________________________ CATEGORIES AND CARDS ______________ */
            
            #cards .container .row .card-content img{
                width: 250px;
                height: 250px;
               
            }
            #cards .container .row .card-content{
                width: calc(90% / 2);
                
            }
            

            /*_________________________________ main or football image __________________ */
            .main-secton .container .main-img img{
                width: 220px;
                height: 250px;
               
                
             
                
            }
            #main-secton .container .row h1{
               font-size: 30px;
            }
            #main-secton .container .row p{
                font-size: 15px;
            }




            /* ______________________ Brands _________________________ */
            #section4{
                height: 130vh;
                margin: auto;
             
                
                
            }
          
            #section4 .container{
        
                width: 90%;
                height: 750px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                
               
               
            }

            #section4 .container .brand-img {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
           
            #section4 .container .brand-img img{
                width: 220px;
                height: 300px;
                margin: auto;
              
               
                
            }


  /* ______________________ Brands _________________________ */






            #main-secton .mini-imgs .row img{
                width: 120px;
                height: 120px;
                margin: 10px;
             
                

            }
            #main-secton .mini-imgs {   
                height: 65vh;
                align-items: center;
            }

           
            #main-secton .mini-imgs .row{
                width: calc(90% / 2);
              
              
             
                
             
            }
            
            #section4 .container {
               
                display: flex;
               justify-content: center;
                width: 100%;
           
            }
            #section4 .container .brand-img img {
              width: 150px;
              height: 150px;
              margin: auto;
             
              
}

         

        }


        




        /* ____________________________________ 680  ____________________________________*/

        @media (max-width: 680px){
           

          /* ___________________________ mini image ______________________ */
            
            #main-secton{
                height: 265vh;
                margin: auto;
               
            }
           
           
          
            #main-secton .container .row p{
                font-size: 15px;
            }
            #main-secton .mini-imgs .row img{
                width: 180px;
                height: 170px;
               
               
             
            }

            #main-secton .mini-imgs{
                height: 150vh;
            }

           
            #main-secton .mini-imgs .row{
                width: calc(90% / 2);
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
               
                
             
            }
            /* ______________________ Brands _________________________ */
            #cards{
                box-sizing: border-box;
                height: 400vh;
            }
            #cards .container .row .card-content img{
                width: 350px;
                height: 280px;
            }
            #cards .container .row .card-content{
                width: calc(90% / 1);
                
            }
          
            #section2 .use-container{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            #section2 .use-container .use-text2{
                padding-bottom: 30px;
            }

            #section2 {
                justify-content: space-around;
                width: 90%;
                margin: auto;
                height: 150vh;
          
                
            }
            #section2 .container{
                display: flex;
                flex-wrap: wrap;
            }
          
           #section4{
            height: 190vh;
           }
         
            #section4 .container .brand-img{
                flex-wrap: wrap;
            }
            #section4 .container .brand-img img{
                width: 400px;
                height: 400px;
                margin: auto;
               
               
                
                
               
                
            }
            #section5{
                height: 160vh;
            }
            #section5 .container{
                height: 70%;
                display: flexs;
                flex-wrap: wrap;
            }

            /* contact */
            .contact .contact-form .form-content{
                width: 460px;
                height: 380px;
                
               
            }
            #section5 .container .contact-img img{
                width: 450px;
                height: 380px;
            }
            .contact .contact-form .form-content input{
            
                height: 30px;
                width: 190px;
            }
                
            .contact .contact-form .form-content textarea{
                width: 400px;
                height: 70px;    
            }

            #section5 .social-cont .social{
                text-align: left;
               
               
               
            }
        }
        @media (max-width: 500px){
             /*section 5 */
             .contact .contact-form .form-content{
                width: 400px;
                height: 350px;
               
            }
            .contact .contact-form .form-content input{
            
                height: 35px;
                width: 160px;
            }
                
            .contact .contact-form .form-content textarea{
                width: 340px;
                height: 100px;    
            }
            #section5 .container .contact-img img{
                width: 350px;
                height: 300px;
            }

        }

/*_________________________________ media 400px ___________________________ */
            @media (max-width: 400px){

                .contact .contact-form .form-content{
                    width: 320px;
                    height: 370px;
       
                }

                #section2 .container .use-image img{
                    width: 300px;
                    height: 250px;
                }

                #section2{
                    height: 150vh;
                }
                #section2 .use-container{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
                #section2 .use-container .use-text2{
                    padding-bottom: 30px;
                }


                #section5 .container .contact-img img{
                    width: 300px;
                    height: 300px;
                }
                .contact .contact-form .form-content input{   
                    height: 30px;
                    width: 125px;
                }
                    
                .contact .contact-form .form-content textarea{
                    width: 260px;
                    height: 130px;    
                }
               
              
                #cards .container .row .card-content img{
                    width: 280px;
                    height: 250px;
                }
                #cards .container .row .card-content{
                    width: calc(90% / 1);
                    display: flex;
                    justify-content: center;
                  
                    
                }
                #section4 .container .brand-img img{
                    width: 400px;
                    height: 380px;
                    margin: auto;
                   
                   
                    
                    
                   
                    
                }
               
                

            }
             /*_______________________ brand image _____________ */
            #section4 .container .brand-img img{
                width: 350px;
                height: 350px;
                margin: auto;
               
               
                
                
               
                
            }




            @media (max-width: 300px){
                /*____________________ section 2 how to use ___________________ */
                #section2 .container .use-image img{
                    width: 180px;
                    height: 160px;
                }
                #section5 .container .contact-img img{
                    width: 200px;
                    height: 200px;
                }
                /*section 5 */
                .contact .contact-form .form-content{
                    width: 250px;
                    height: 350px;
                   
                }
                .contact .contact-form .form-content input{
                
                    height: 35px;
                    width: 100px;
                }
                    
                .contact .contact-form .form-content textarea{
                    width: 200px;
                    height: 100px;    
                }

                
            }


       



    
        
    






















